extends layout

block content
  #ui
    #progressbar
      .progress-label
    button#zoomIn= "+"
    button#zoomOut= "-"
    button#start= ">"
    //- button= -
    ul#buildmenu
      li Collector
      li Wall
      li Pylon
      li Barracks
      li Tower
