extend layout

block content
  p
    | ImmuFind is an early stage startup aiming to improve cancer diagnostics
    | via new tools that empower surgeons and pathologists. <br><br>
    | While our site is under construction please contact
    | <a href="mailto:joelsimon6@gmail.com">joelsimon6@gmail.com</a>
    | for more information.
    br
  
  //- h1 Founders:
  //- p
  //-   | <a href="http://joelsimon.net">Joel Simon</a>
  //-   | - CEO <br>

  //-   | <a href="http://www.rockefeller.edu/research/faculty/labheads/SanfordSimon/">Sanford Simon</a>
  //-   | - Chair of Scientific Advisory Board <br>

  //-   | <a href="http://www.elanasimon.com/">Elana Simon</a>
  //-   | - Vice President <br>

  //- h1 Advisors:
  //- p
  //-   | <a href="http://www.ventrinovainc.com/scientific-adivosry-board/">Howard Johnson</a>
  //-   | - CEO of VentriNova, CFO of Vion Pharmaceuticals<br>

  //-   | <a href="http://www.mskcc.org/cancer-care/doctor/michael-la-quaglia">Michael P. La Quaglia</a>
  //-   | - Chief of Pediatric Surgery at MSK<br>