doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/libraries/pixi.js')
    script(src='/scripts/libraries/jquery.min.js')
    script(src='/scripts/libraries/stats.js')
  body
    block content
    script(src='/scripts/classes/Hex.js')
    script(src='/scripts/classes/HexGrid.js')
    script(src='/scripts/crashed.js')