!!!5
html
  head
    title #{title} - IMMUFIND
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 IMMUFIND
    .container
      .main-content
        block content
    footer