doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(src='/scripts/libraries/pixi.js')
    script(src='/scripts/libraries/jquery.min.js')
    script(src='/scripts/libraries/stats.js')
    script(src='/scripts/libraries/jquery-ui.min.js')
  body
    block content
    script(src='/scripts/classes/Hex.js')
    script(src='/scripts/classes/HexGrid.js')
    script(src='/scripts/classes/buildings/Building.js')
    script(src='/scripts/classes/buildings/Tower.js')
    script(src='/scripts/classes/Crashed.js')
    script(src='/scripts/main.js')