doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(src='/scripts/libraries/pixi.js')
    script(src='/scripts/libraries/jquery.min.js')
    script(src='/scripts/libraries/stats.js')
    script(src='/scripts/libraries/jquery-ui.min.js')
  body
    block content
    script(src='/scripts/textures.js')

    script(src='/scripts/libraries/astar.js')
    script(src='/scripts/libraries/tween.min.js')
    script(src='/scripts/libraries/kdTree.min.js')

    script(src='/scripts/classes/DraggableContainer.js')
    script(src='/scripts/classes/Selectable.js')

    script(src='/scripts/classes/hexes/Hex.js')
    script(src='/scripts/classes/hexes/Trees.js')
    script(src='/scripts/classes/hexes/Rocks.js')

    script(src='/scripts/classes/HexGrid.js')
    script(src='/scripts/classes/buildings/Building.js')
    script(src='/scripts/classes/buildings/Tower.js')
    script(src='/scripts/classes/Crashed.js')

    script(src='/scripts/classes/Unit.js')
    
    script(src='/scripts/classes/enemies/Enemy.js')
    script(src='/scripts/classes/enemies/SmallBlob.js')
    script(src='/scripts/classes/enemies/LargeBlob.js')

    script(src='/scripts/ui/Button.js')
    script(src='/scripts/ui/HexButton.js')

    script(src='/scripts/views/View.js')
    script(src='/scripts/views/Mainmenu.js')
    script(src='/scripts/views/Gameview.js')

    script(src='/scripts/main.js')